blinker
certifi
cffi
charset-normalizer
click
clr_loader
colorama
filelock
Flask
flatlib
fsspec
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pycparser
pyswisseph
python-dotenv
pythonnet
PyYAML
regex
requests
tqdm
typing_extensions
urllib3
VedAstro
Werkzeug
